<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>

    <h1>Sobre mi</h1>
    <h2>... ¡y mi nuevo sitio Astro!</h2>

    <p>
    Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
    pagina de mi sitio web, ¡y es la que he construido yo mismo!
    </p>

    <p>
    Este sitio se ira actualizando a medida de que vaya completando más partes
    del tutorial, ¡asi no dejes de visitarlo para ver como va mi viaje!
    </p>
</body>