<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>

    <h1>Mi blog de aprendizaje</h1>
    <p>Aqui es donde publicare sobre mi viaje de aprendizaje de Astro</p>
</body>
